body {
    background: linear-gradient(to right, rgb(71, 70, 70), rgb(15, 55, 55));
}

h1 {
    text-decoration:underline;
}

.container {
    text-align: center;
}

.task-delete {
    position: relative;
    top: 1px;
    cursor: pointer;
    font-weight: bold; 
    border-radius:10px;
}

.task-complete {
    position: relative;
    top: 1px;
    cursor: pointer;
    border-radius:10px;
}

.complete-task {
    text-decoration: line-through;
}

